
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body{

    font-family: 'Prompt', sans-serif;
}

/* galeria*/

.itemImg{

     max-width: 500px;
     display: block;
     
    
}

.galeria{
    
    margin-left: auto;
    margin-right: auto;
    margin-top:3em;
    margin-bottom: 3em;
    grid-gap: 50px;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
   
}

.item{

    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.095);
    width: 400px;
    align-content: center;
    

    transition: all 300ms;
}

.galeria .item h3 a{

    text-decoration: none;
    color:rgb(0, 0, 0);
    
}



.item img{

    height: 233px;
    width: 400px;


}

.item:hover {
    transform: scale(1.05);
}

.itemText{
    padding:1em;
}
  
@media screen and (min-width: 590px) {
    .galeria{
        grid-template-columns: repeat(2, 1fr);
    }
    .item{

        width: 100%;
    }
    
}

@media screen and (min-width: 960px) {
    .galeria{
        grid-template-columns: repeat(3, 1fr);
    }
    
}


/* seccion 3 "nuestros alumnos" */


.ContainerTestimonios blockquote {

    background-color: #cbd2ca;
    padding: 1em;
    

}

.ContainerTestimonios blockquote:hover {

    border: 3px solid #a3a7e4;
}

.ContainerTestimonios{

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1em;
    grid-template-rows: minmax(150px, auto);
    justify-items: center;
    
}

 
@media screen and (min-width: 590px) {
    .ContainerTestimonios{
       grid-template-columns: repeat(1, 1fr);
   }
   
}

@media screen and (min-width: 960px) {
    .ContainerTestimonios{
       grid-template-columns: repeat(4, 1fr);
   }
   
}

/*footer*/

footer {
	background-color:#a3a7e4;
	height: 50%;
    color: white !important;
    padding: 15px;
}

a img:hover {
    color: #fff;
}


/*titulos*/

.titulo1 {

    padding: 80px;
    text-shadow: 5px 5px 5px rgb(223, 218, 218);
    font-weight: 700;
    color: #a3a7e4;
    
  }

h2{

    margin: 70px;
}

h1{

    margin: 70px;
}

h3{

    margin: 70px;
}

/*navbar stilos*/

.dropdown-menu{

    background-color: #a3a7e4;
}

.navbar-dark{

    background-color: #a3a7e4;


}

.dropdown-item{

    color: #fff;
}

.dropdown-item:hover{

    color: #fff;
    background-color: #8189f3 ;

} 

/*contacto*/

.btn{

    background-color: #a3a7e4;
    color: #fff;
}

.btn:hover{

    color: #fff;
    background-color: #8189f3 ;

} 